
// =======================================================
// DASHBOARD
// =======================================================

@mixin sidebar-background-doctor {
    background-color: #f1f1f1;
}
@mixin sidebar-background-patient {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.dashboard-wrapper {
    display: flex;
}
.dashboard-sidebar {
    position: fixed;
    width: 300px;
    min-height: 100vh;

    &.doctor {
        @include sidebar-background-doctor();
    }
    &.patient {
        @include sidebar-background-patient();
    }
    -webkit-box-shadow: 3px 0px 4px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 0px 4px 0px rgba(0,0,0,0.4);
    box-shadow: 3px 0px 4px 0px rgba(0,0,0,0.4);

    .user-image {
        width: 56px;
        background-color: white;
    }
}
.dashboard-content {
    margin-left: 300px;
    width: calc(100% - 300px);
    padding: 60px 75px;
}

/**
 * Sidebar
 */

.dashboard-logo {
    padding: 10px 20px 3px;
    a {
        color: inherit;
    }
}
.dashboard-sidebar-divider {
    padding: 10px 20px;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.dashboard-sidebar-items {
    list-style-type: none;
    padding: 0;
}
.dashboard-sidebar-item {
    a {
        i {
            text-align: center;
            margin-right: 14px;
            min-width: 20px;
        }
        color: black;
        padding: 10px 20px;
        display: block;
        position: relative;
        &::after {
            width: 0%;
            height: 100%;
            top: 0;
            left: 0;
            background: #fff;
        }
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        &:hover {
            &::after {
                width: 100%;
            }   
        }
    }
}

/**
 * Doctor Dashboard ONLY
 */

/**
 * Patient Dashboard ONLY
 */
