
// =======================================================
// SPACING
// =======================================================

.mt-2rem {
    margin-top: 2rem;
}
.mt-5rem {
    margin-top: 5rem;
}
.mt-7rem {
    margin-top: 7rem;
}

// =======================================================
// TYPOGRAPHY
// =======================================================

.f-13 {
    font-size: 13px !important;
}
.f-18 {
    font-size: 18px !important;
}
.f-38 {
    font-size: 38px !important;
}