
// =======================================================
// GERAL
// =======================================================

body {
    font-family: $font-family-sans-serif !important;
    font-family: $font-lato !important;
    font-family: $font-oswald !important;
    font-family: $font-raj !important;
    font-family: $font-bitter !important;
    font-family: $font-roboto !important;
    font-family: $font-lora !important;
    font-family: $font-montserrat !important;
    font-family: $font-asap !important;
    font-family: $font-exo !important;
    font-family: $font-open-sans !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#app {
    min-height: 100vh;
}

// =======================================================
// MISC
// =======================================================

p {
    margin: 0;
}
.circle {
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-transition: all 0.55s ease-in-out;
    -o-transition: all 0.55s ease-in-out;
    transition: all 0.55s ease-in-out;
    background: white;
}
.main-icon {
    width: 49px;
}
.underlined {
    border-bottom: 5px solid $main-color;
}
.bg-main-color { background-color: $main-color; }
.bg-main-color-dark { background-color: $main-color-dark; }

// =======================================================
// NAVBAR
// =======================================================

#main-navbar {
    box-shadow: none;
    padding: 15px 0;
    font-size: 16px;
    font-weight: 500;
    font-family: $font-exo;
    min-height: 80px;
    .nav-link {
        border-bottom: 3px solid transparent;
        padding-right: 0;
        padding-left: 0;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        &:hover {
            border-bottom: 3px solid $main-color;
        }
    }
}
.navbar-brand {
    .brand {
        display: inline-block;
        font-size: 1.5rem;
        font-family: $font-exo;
        vertical-align: middle;
        padding-top: 5px;
    }
}

.dropdown-navbar {
    width: 100%;
    padding: 0;
    .dropdown-item {
        padding: 10px 10px !important;
    }
}

// =======================================================
// FOOTER
// =======================================================

#main-footer {

    background-color: $main-color-dark;
    font-size: 0.8rem;
    border-top: 4px solid rgba(0, 0, 0, 0.2);;

    .footer-copyright {
        font-size: 13px;
        .badge {
            font-size: 13px !important;
        }
    }

}


// =======================================================
// LOGIN AND REGISTER
// =======================================================

.form-register {
    max-width: 500px;
    flex: 1 0 auto;
}
.col-register-form {
    border-right: 2px solid #ececec;
    padding-right: 60px;
}
.col-register-social {
    padding-left: 60px;
    .social-icon {
        width: 45px;
        &:not(:last-of-type) {
            margin-right: 15px;
        }
        margin-right: 10px;
    }
}
.btn-fb {
    background-color: #475993;
    color: white;
    &::after {
        font-family: "Font Awesome 5 Brands"; content: "\f39e";
        float: right;
        padding-right: 3px;
    }
}
.btn-gplus {
    background-color: #f14336;
    color: white;
    &::after {
        font-family: "Font Awesome 5 Brands"; content: "\f1a0";
        float: right;
    }
}
.btn-fb, .btn-gplus {
    text-align: left;
    max-width: 200px;
    &:hover {
        color: white;
    }
}


// =======================================================
// LOGIN AND REGISTER
// =======================================================

.col-login-form {
    border-right: 1px solid #dfdfdf;
    padding-right: 40px;
}
.col-login-social {
    padding-left: 40px;
}


// =======================================================
// PÁGINA PRINCIPAL
// =======================================================

#user-selection {
    min-height: calc(100vh - 80px);
}

.choices {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    .choice {
        &:first-of-type {
            padding-left: 25%;
        }
        &:last-of-type {
            padding-right: 25%;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        color: inherit;
        p {
            margin-top: 0.5rem;
            font-weight: 600;
        }
        .circle {
            height: 240px;
            width: 240px;
            border-radius: 50%;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
            -webkit-transition: all 0.55s ease-in-out;
            -o-transition: all 0.55s ease-in-out;
            transition: all 0.55s ease-in-out;
            background: white;
            &.patients {
                background-image: url(../img/icons/patients.svg);
                background-size: 120%;
                background-position: center;
            }
            &.doctors {
                background-image: url(../img/icons/doctors.svg);
                background-position: -80px 45px;
                background-size: 168%;
                background-repeat: no-repeat;
            }
        }
        &:hover {
            .circle {
                transform: scale(1.05);
                -webkit-transition: all 0.55s ease-in-out;
                -o-transition: all 0.55s ease-in-out;
                transition: all 0.55s ease-in-out;
            }
        }
    }
}

.cta-home {
	border-radius: 4px;
	border: 2px solid $main-color;
    color: white !important;
    display: inline-block;
    background: $main-color;
	overflow: hidden;
	padding: 16px 60px 16px 16px;
	position: relative;
	text-decoration: none;
	line-height: 1;
	.content {
		font-size: 1em;
		line-height: 1.2;
		padding: 0 26px;
		position: relative;
		right: 0;
		transition: right 300ms ease;
		display: block;
		text-align: left;
	}
	.icon {
		border-left: 2px solid white;
		position: absolute;
		right: 0;
		text-align: center;
		top: 50%;
		transition: all 300ms ease;
		transform: translateY(-50%);
		width: 58px;
		height: 70%;
		i {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: $main-color;
		opacity: 0;
		transition: opacity 300ms ease;
	}
	&:hover {
		.content {
			right: 100%;
		}
		.icon {
			border-left: 0;
			font-size: 1.8em;
			width: 100%;
		}
		&:after {
			opacity: .2;
		}
    }
    &:active {
        box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #717171, 0 0 0 6px rgba(255,255,255,0.5) !important;
        outline: none !important;
        -webkit-transition: box-shadow 0.2s ease !important;
        -moz-transition: box-shadow 0.2s ease !important;
        transition: box-shadow 0.2s ease !important;
        background-color: $main-color-dark;
    }
}

#customers-hero {
    min-height: calc(100vh - 80px);
    .medics-background {
        width: 100%;
    }
    .patients-background {
        max-height: 80vh;
    }
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 18rem;
        text-align: center;
        margin-bottom: 75px;
        margin-right: 50px;
        .feature-header {
            font-weight: 600;
        }
        .icon {
            height: 70px;
            margin-bottom: 1rem;
        }
    }
}

section#start {
    padding: 60px 100px;
    color: white;
    background: #3a688a;
}

// =======================================================
// HOME DOCTORS
// =======================================================

section#doctor-skeleton {
    background: #5D90A5;
    color: white;
    .container-skeleton {
        display: flex;
        position: relative;
        .skeleton {
            max-width: 66.66667%;
        }
        .skeleton-description {
            padding-left: 50px;
        }
    }
    .carousel-inner {
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
        border-radius: 10px;
    }
    .doctor-features {
        list-style-type: none;
        padding: 0;
        margin-top: 30px;
        span {
            padding-left: 10px;
        }
        li {
            padding: 15px;
            font-size: 20px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
            border-radius: 5px;
            display: flex;
            align-items: center;

            &.active {
                border-left: 6px solid $main-color;
                background: white;
                color: black;
                &.agenda {
                    &::before {
                        color: $main-color-dark;
                    }
                }
                &.ratings {
                    &::before {
                        color: $main-color-dark;
                    }
                }
                &.payments {
                    &::before {
                        color: $main-color-dark;
                    }
                }
            }

            &:not(:last-of-type) {
                margin-bottom: 10px;
            }
            &::before {
                font-size: 1.75rem;
                width: 35px;
                text-align: center;
            }
            &.agenda {
                &::before {
                    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f274";
                }
            }
            &.ratings {
                &::before {
                    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f005";
                }
            }
            &.payments {
                &::before {
                    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f09d";
                }
            }

            &:hover {
                cursor: pointer;
                box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
            }
        }
    }
}

.carousel-control-prev, .carousel-control-next {
    color: black !important;
}


// =======================================================
// APPOINTMENTS
// =======================================================

.table-list {
    th {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        padding-bottom: 11px !important;
    }
    tr {
        &:hover {
            background-color: #fafafac5;
        }
    }
    td {
        padding-top: 0.8rem !important;
        padding-bottom: 0.6rem !important;
    }
    .td-actions {
        padding-top: 0.8rem;
        padding-bottom: 0.6rem;
        a {
            color: inherit;
        }
    }
    .btn-action {
        border: 0;
        background: #efefef;
        padding: 4px 8px;
        border-radius: 3px;
    }
    .remove-form {
        display: contents;
    }
}

/**
 * Search Appointments
 */

#search-container {

    .search-img {
        width: 100%;
    }

    .row {
        min-height: calc(100vh - 140px);
        display: flex;
        align-items: center;
    }

}

#search-appointment {

    .box {
        box-shadow: 0 16px 40px rgba(0,0,0,0.12);
        border-radius: 5px;
        padding: 40px;

        .form-group {
            margin-top: 15px;
            &:first-of-type {
                margin-top: 20px;
            }
        }

        button {
            margin-top: 30px;
        }

        label {
            font-size: 14px;
            text-transform: uppercase;
        }
    }

}

/**
 * Appointments Result
 */

#header-search {

    font-family: $font-exo;

    .input-wrapper {
        border: 0;
        border-radius: 5px;
        background: 0;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
        padding: 10px 20px;
        display: flex;
        width: 460px;
    }

    .input-icon {
        padding-right: 10px;
        i {
            color: #595959;
            font-size: 20px;
            vertical-align: middle;
        }
    }

    .input-search {
        border: 0;
        width: 100%;
        font-weight: 600;
        color: #595959;
        &:focus {
            outline: 0;
        }
    }
}

#search-navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}

/**
 *
 */
table.clinic-info {
    width: 100%;
    td {
        font-size: 1rem;
        padding-bottom: 5px;
        &:first-of-type {
            text-transform: uppercase;
            font-size: 0.9rem;
        }
    }
}

/**
 * DOCTORS
 */

.doctors-found {
    padding: 10px;
    font-size: 15px;
}

.doctor-found {

    border: 1px solid #D2D2D2;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
    p {
        margin: 0;
    }
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 12px;
    }

    /**
     * DOCTOR INFORMATION
     */
    .doctor-details {
        display: flex;
        padding: 20px;
    }

    .doctor-name {
        a {
            color: $main-color;
        }
        &:hover {
            opacity: 0.8;
        }
    }

    .doctor-img {
        width: 150px;
        border-radius: 50%;
    }

    .doctor-img-container {
        padding-right: 45px;
        padding-left: 40px;
    }

    .doctor-specialty {
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 600;
    }
    
    .doctor-phone, .doctor-address {
        padding: 5px 0;
        i {
            padding-right: 7px;
        }
    }

    /**
     * DOCTOR CALENDAR
     */
    .doctor-calendar {
        display: flex;
        margin-left: auto;
        padding-right: 20px;
    }

    .calendar-schedule {
        display: flex;
        width: 310px;
        .calendar-day {
            &:not(:last-of-type) {
                margin-right: 10px;
            }
        }
    }

    .calendar {
        
        position: relative;

        &.locked {
            padding-bottom: 25px;
            &::after {
                content: '';
                background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 16%, #fff 100%);
                display: block;
                bottom: 25px;
                height: 30px;
                left: 0;
                right: 0;
                position: absolute;
            }
        }
        .lock-area {
            max-height: 185px;
            overflow: hidden;
            &.unlocked {
                max-height: 100%;
            }
        }
        .btn-view-more {
            color: $main-color-dark;
            display: block;
            font-size: 14px;
            position: absolute;
            bottom: -10px;
            z-index: 100;
            border: 0;
            background: white;
            border-top: 1px solid $main-color-dark;
            width: 100%;
            &.closed {
                &::after {
                    padding-left: 5px;
                    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f078";
                    color: $main-color-dark;
                    padding-right: 3px;
                }
            }
            &.opened {
                bottom: -25px;
                &::after {
                    padding-left: 5px;
                    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f077";
                    color: $main-color-dark;
                    padding-right: 3px;
                }
            }
            &:focus {
                outline: 0;
            }
        }
    }

    .calendar-nav {
        height: 30px;
        border-radius: 50%;
        border: 0;
        background: aliceblue;
        color: #5eb1d0;
        width: 31px;
        position: relative;
        i {
            position: absolute;
            top: 9px;
            left: 12px;
            font-size: 13px;
        }
        &.calendar-nav-prev, &.calendar-nav-next {
            &:hover {
                border: 1px solid #5eb1d0;
            }
        }
        &.calendar-nav-prev {
            margin-right: 20px;
            i {
                left: 11px;
            }
        }
        &.calendar-nav-next {
            margin-left: 20px;
        }
        &:focus {
            outline: 0;
        }
    }

    .calendar-day-date {
        .day-name, .day-date {
            display: block;
            text-align: center;
        }
        .day-name {
            font-size: 15px;
        }
        .day-date {
            font-size: 12px;
        }
    }

    .calendar-slot {
        text-align: center;
        &:not(.empty) {
            margin-top: 10px;
            background: #ecf6ff;
            color: #5eb1d0;
            border: 1px solid #65b2cf40;
            padding: 2px 5px;
            border-radius: 4px;
            &.available {
                &:hover {
                    opacity: 0.8;
                    background: $main-color;
                    color: white;
                }
            }
            &.not-available {
                cursor: not-allowed;
                background: #ededed;
                color: grey;
                border: 1px solid #dddddd;
            }
        }
        &:focus {
            outline: 0;
        }
    }

}

.star-rating {
    padding: 15px 0;
    i {
        &:last-of-type {
            padding-right: 8px;
        }
    }
}

/**
 * DOCTOR PROFILE
 */

.doctor-profile {

    display: flex;

    .doctor-aside {
        width: 25%;
    }

    .doctor-information {
        width: 75%;
        padding-left: 2rem !important;
    }

}

.doctor-aside {

    .doctor-img {
        width: 200px;
        border-radius: 50%;
    }

    .doctor-info {
        p {
            font-size: 15px;
            padding: 10px 5px;
        }
    }

    .doctor-info-header {

        margin: 25px 0 15px 0;
        font-size: 18px;
        color: #9E9E9E;
        text-transform: uppercase;
        position: relative;
        span {
            background-color: white;
            padding-right: 10px;
            padding-left: 10px;
        }
        &::after {
            content:"";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 0.5em;
            border-top: 1px solid #9E9E9E;
            z-index: -1;
        }

    }

}

.doctor-information {

    .doctor-crm, .doctor-type {
        color: #9E9E9E;
    }

    .nav-link {
        background: #F7F7F7;
        color: black;
        margin-right: 2px;
        font-size: 15px;
        &:not(:first-of-type) {
            margin-left: 2px;
        }
        &.active {
            background: #E2E0E0;
        }
        &.about {
            &::before {
                font-family: "Font Awesome 5 Free"; font-weight: 500; content: "\F007";
                font-size: 15px;
                padding-right: 5px;
                display: inline-block;
            }
        }
        &.agenda {
            &::before {
                font-family: "Font Awesome 5 Free"; font-weight: 500; content: "\f133";
                font-size: 15px;
                padding-right: 5px;
                display: inline-block;
            }
        }
        &.avaliacoes {
            &::before {
                font-family: "Font Awesome 5 Free"; font-weight: 500; content: "\f27a";
                font-size: 15px;
                padding-right: 5px;
                display: inline-block;
            }
        }
    }

    .tab-pane {
        border-right: 1px solid #dee2e6;
        border-left: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 30px 40px;
        font-size: 15px;

        .doctor-about-header {
            font-size: 18px;
            color: #9E9E9E;
            padding: 0 5px;
        }

        .doctor-about-address {
            p {
                padding: 5px;
            }
        }

        .doctor-about-contact {
            p {
                padding: 5px;
            }
        }
    }


    .comment-wrapper {
        background: #F1F0F0;
        padding: 15px 20px;
        .author {
            .time {
                color: #9e9e9e;
            }
        }
        .rating {
            font-size: 12px;
        }
        .comment {
            padding-top: 10px;
        }
    }

}

// =======================================================
// PAYMENT PAGE
// =======================================================

.card-wrapper {
    margin-top: calc(6rem + 1.25em);
}

#form-card {
    label {
        font-size: 14px;
    }
}

.card-review {

    .card-review-header {
        padding: 0.9rem 1rem;
        border: 1px solid lightgrey;
        border-radius: 4px 4px 0 0;
        h5 {
            margin: 0;
            font-weight: 600;
        }
    }
    .card-review-info {
        border-right: 1px solid lightgrey;
        border-left: 1px solid lightgrey;
        padding: 1rem;
        font-size: 15px;
        .header {
            display: block;
            font-size: 0.9rem;
            color: grey;
            &:not(:first-of-type) {
                margin-top: 1rem;
            }
        }
    }
    .card-review-payment {
        border: 1px solid lightgrey;
        padding: 0.9rem 1rem;
        background-color: #f5f5f5;
        border-radius: 0 0 4px 4px;
        p {
            &:not(:last-of-type) {
                margin-bottom: 0.25rem;
            }
            color: #969696;
            font-weight: 600;
        }
        .price {
            font-size: 1.3rem;
            font-weight: 600;
            color: black;
            margin-left: 5px;
        }
    }

}

.card-flag {
    position: absolute;
    right: 8px;
    bottom: 9px;
}

.fa-star {
    color: #ffc107;
}