@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Lato:400,400i&display=swap);@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,500&display=swap);@import url(https://fonts.googleapis.com/css?family=Rajdhani:500,600);@import url(https://fonts.googleapis.com/css?family=Bitter&display=swap);@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap);@import url(https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap);@import url(https://fonts.googleapis.com/css?family=Lora&display=swap);@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap);@import url(https://fonts.googleapis.com/css?family=Asap:400,500,600&display=swap);@import url(https://fonts.googleapis.com/css?family=Exo:400,500,600&display=swap);@charset "UTF-8";
body {
  font-family: "Nunito", sans-serif !important;
  font-family: "Lato", sans-serif !important;
  font-family: "Oswald", sans-serif !important;
  font-family: "Rajdhani", sans-serif !important;
  font-family: "Bitter", serif !important;
  font-family: "Roboto", sans-serif !important;
  font-family: "Lora", serif !important;
  font-family: "Montserrat", sans-serif !important;
  font-family: "Asap", sans-serif !important;
  font-family: "Exo", sans-serif !important;
  font-family: "Open Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#app {
  min-height: 100vh;
}

.main-icon {
  width: 49px;
}

.underlined {
  border-bottom: 5px solid #5EB1D0;
}

.bg-main-color {
  background-color: #5EB1D0;
}

.bg-main-color-dark {
  background-color: #3A688A;
}

#main-navbar {
  box-shadow: none;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 500;
  font-family: "Exo", sans-serif;
  min-height: 80px;
}
#main-navbar .navbar-brand .brand {
  display: inline-block;
  font-size: 1.5rem;
  font-family: "Exo", sans-serif;
  vertical-align: middle;
  padding-top: 5px;
}
#main-navbar .nav-link {
  border-bottom: 3px solid transparent;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
#main-navbar .nav-link:hover {
  border-bottom: 3px solid #5EB1D0;
}

#main-footer {
  background-color: #3A688A;
  font-size: 0.8rem;
  border-top: 4px solid rgba(0, 0, 0, 0.2);
}
#main-footer .footer-copyright {
  font-size: 13px;
}
#main-footer .footer-copyright .badge {
  font-size: 13px !important;
}

#user-selection {
  min-height: calc(100vh - 80px);
}

.choices {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
.choices .choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
}
.choices .choice:first-of-type {
  padding-left: 25%;
}
.choices .choice:last-of-type {
  padding-right: 25%;
}
.choices .choice p {
  margin-top: 0.5rem;
  font-weight: 600;
}
.choices .choice .circle {
  height: 240px;
  width: 240px;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.55s ease-in-out;
  background: white;
}
.choices .choice .circle.patients {
  background-image: url(../img/icons/patients.svg);
  background-size: 120%;
  background-position: center;
}
.choices .choice .circle.doctors {
  background-image: url(../img/icons/doctors.svg);
  background-position: -80px 45px;
  background-size: 168%;
  background-repeat: no-repeat;
}
.choices .choice:hover .circle {
  transform: scale(1.05);
  transition: all 0.55s ease-in-out;
}

.cta-home {
  border-radius: 4px;
  border: 2px solid #5EB1D0;
  color: white !important;
  display: inline-block;
  background: #5EB1D0;
  overflow: hidden;
  padding: 16px 60px 16px 16px;
  position: relative;
  text-decoration: none;
  line-height: 1;
}
.cta-home .content {
  font-size: 1em;
  line-height: 1.2;
  padding: 0 26px;
  position: relative;
  right: 0;
  transition: right 300ms ease;
  display: block;
  text-align: left;
}
.cta-home .icon {
  border-left: 2px solid white;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transition: all 300ms ease;
  transform: translateY(-50%);
  width: 58px;
  height: 70%;
}
.cta-home .icon i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.cta-home:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #5EB1D0;
  opacity: 0;
  transition: opacity 300ms ease;
}
.cta-home:hover .content {
  right: 100%;
}
.cta-home:hover .icon {
  border-left: 0;
  font-size: 1.8em;
  width: 100%;
}
.cta-home:hover:after {
  opacity: 0.2;
}
.cta-home:active {
  box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #717171, 0 0 0 6px rgba(255, 255, 255, 0.5) !important;
  outline: none !important;
  transition: box-shadow 0.2s ease !important;
  background-color: #3A688A;
}

#customers-hero {
  min-height: calc(100vh - 80px);
}
#customers-hero .medics-background {
  width: 100%;
}
#customers-hero .patients-background {
  max-height: 80vh;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.features .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 18rem;
  text-align: center;
  margin-bottom: 75px;
  margin-right: 50px;
}
.features .feature .feature-header {
  font-weight: 600;
}
.features .feature .icon {
  height: 70px;
  margin-bottom: 1rem;
}

section#start {
  padding: 60px 100px;
  color: white;
  background: #3a688a;
}

section#doctor-skeleton {
  background: #5D90A5;
  color: white;
}
section#doctor-skeleton .container-skeleton {
  display: flex;
  position: relative;
}
section#doctor-skeleton .container-skeleton .skeleton {
  max-width: 66.66667%;
}
section#doctor-skeleton .container-skeleton .skeleton-description {
  padding-left: 50px;
}
section#doctor-skeleton .carousel-inner {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}
section#doctor-skeleton .doctor-features {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
}
section#doctor-skeleton .doctor-features span {
  padding-left: 10px;
}
section#doctor-skeleton .doctor-features li {
  padding: 15px;
  font-size: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
section#doctor-skeleton .doctor-features li.active {
  border-left: 6px solid #5EB1D0;
  background: white;
  color: black;
}
section#doctor-skeleton .doctor-features li.active.agenda::before {
  color: #3A688A;
}
section#doctor-skeleton .doctor-features li.active.ratings::before {
  color: #3A688A;
}
section#doctor-skeleton .doctor-features li.active.payments::before {
  color: #3A688A;
}
section#doctor-skeleton .doctor-features li:not(:last-of-type) {
  margin-bottom: 10px;
}
section#doctor-skeleton .doctor-features li::before {
  font-size: 1.75rem;
  width: 35px;
  text-align: center;
}
section#doctor-skeleton .doctor-features li.agenda::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\F274";
}
section#doctor-skeleton .doctor-features li.ratings::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\F005";
}
section#doctor-skeleton .doctor-features li.payments::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\F09D";
}
section#doctor-skeleton .doctor-features li:hover {
  cursor: pointer;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel-control-prev, .carousel-control-next {
  color: black !important;
}

/**
 * Search Appointments
 */
#search-container .search-img {
  width: 100%;
}
#search-container .row {
  min-height: calc(100vh - 140px);
  display: flex;
  align-items: center;
}

#search-appointment .box {
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 40px;
}
#search-appointment .box .form-group {
  margin-top: 15px;
}
#search-appointment .box .form-group:first-of-type {
  margin-top: 20px;
}
#search-appointment .box button {
  margin-top: 30px;
}
#search-appointment .box label {
  font-size: 14px;
  text-transform: uppercase;
}

.mt-2rem {
  margin-top: 2rem;
}

.mt-5rem {
  margin-top: 5rem;
}

.mt-7rem {
  margin-top: 7rem;
}

.f-13 {
  font-size: 13px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-38 {
  font-size: 38px !important;
}

.btn {
  font-size: 1rem;
  text-transform: none;
  box-shadow: none !important;
  padding: 0.375rem 0.75rem !important;
  border-radius: 4px !important;
  margin: 0;
}

button:hover, .btn:hover {
  opacity: 0.8;
}

.form-control:focus, select:focus {
  border-color: #3A688A !important;
  box-shadow: 0 0 1px 1px #3A688A !important;
  outline: 0 !important;
}

@media only screen and (min-width: 992px) and (max-width: 1198.98px) {
  #customers-hero .medics-background {
    padding-top: 50px;
    width: 100%;
    transform: scale(1.1);
  }
}
@media only screen and (min-width: 1200px) {
  #customers-hero .medics-background {
    padding-top: 50px;
  }
}